.form {
  max-width: 35rem !important;
}

#main {
  margin-left: 17%;
  max-width: 83%;
}

a {
  text-decoration: none !important;
}

:root {
  /* Colors */
  --body-background-color: #f0f2f5 !important;
  --nav-background-color: #052c65 !important;
  --btn-background-color: #5373ab !important;
  --title-background-color: #00264b !important;
  --form-background-color: #ffffff !important;

  --form-padding: 20px !important;
  --form-margin: auto !important;
  --form-box-shadow: 0 0 2px !important;
  --form-border-radius: 10px !important;
}

body {
  background-color: var(--body-background-color) !important;
}

.search {
  background-color: var(--title-background-color) !important;
  padding: 100px !important;
}

.search-2 {
  background-color: var(--title-background-color) !important;
  padding: 30px !important;
}

.title-1 {
  text-align: center !important;
  color: var(--body-background-color) !important;
  padding-bottom: 5px !important;
}

.forms {
  background-color: var(--form-background-color) !important;
  padding: var(--form-padding) !important;
  margin: var(--form-margin) !important;
  border-radius: var(--form-border-radius) !important;
}

.btn-1 {
  background-color: var(--btn-background-color) !important;
}

.btn-2 {
  background-color: var(--body-background-color) !important;
  color: black !important;
}

.title-2 {
  color: var(--title-background-color) !important;
  border-bottom: 1px solid var(--body-background-color) !important;
  padding-bottom: 5px !important;
}

.nav-1 {
  background-color: var(--nav-background-color) !important;
}

.nav-2 {
  background-color: var(--title-background-color) !important;
}

.dashboard {
  background-color: var(--title-background-color) !important;
}

.menu a:hover {
  background-color: var(--btn-background-color) !important;
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

@media (max-width: 768px) {
  .search {
    padding: 20px !important;
  }

  #logo {
    margin-bottom: 30px !important;
  }
}

.errorMessage {
  display: block !important;
  color: red !important;
}

.link {
  color: black !important;
}
